<footer class="page-footer black">
    <div class="container">
        <div class="row mx-2">
            <div class="col s12 m3 pl-2">
                <img class="responsive-img" src="~/Content/Images/INA_Trans.png" alt="INA" />
            </div>
            <div class="col s12 m3 pl-2">
                <p class="grey-text text-lighten-1">
                    <b>Dirección sede central</b>
                    <br />
                    La Uruca, San José, Frente al Parque de Diversiones.
                </p>

                <p class="grey-text text-lighten-1">
                    <b>Horario de atención</b>
                    <br />
                    Lunes a viernes.
                    <br />
                    7:00 a.m. a 3:00 p.m.
                </p>
            </div>
            <div class="col s12 m3 pl-2">
                <p class="grey-text text-lighten-1">
                    <b>Referencias externas</b>
                </p>
                <p class="grey-text text-lighten-1">
                    <a href="https://www.ina.ac.cr/AcercaINA/SitePages/Inicio.aspx" target="_blank">Acerca del INA</a>
                    <br />
                    <a href="https://extranet.ina.ac.cr/" target="_blank">Extranet Institucional</a>
                    <br />
                    <a href="https://correo1.ina.ac.cr/" target="_blank">Correo Institucional</a>
                </p>
            </div>
            <div class="col s12 m3 pl-2">
                <p class="grey-text text-lighten-1">
                    <b>Contáctenos</b>
                </p>
                <p class="grey-text text-lighten-1">
                    Teléfono: <a href="callto:+50622106000">(506) 2210 6000</a>
                    <br />
                    Correo: <a href="informacion@ina.ac.cr">informacion@ina.ac.cr</a>
                </p>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="row mb-0">
                <div class="center col s12">
                    <span class="white-text">&copy; @DateTime.Now.Year INA</span>
                </div>
                <div class="center col s12">
                    <span class="white-text">Desarrollado por <a class="yellow-text" href="http://www.datasoft.co.cr/">Grupo Empresarial Datasoft</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>