@{
    ViewBag.Title = "400";
}

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="oops center">
                <h1 class="my-1">
                    <i class="large material-icons">info</i>
                </h1>

                <h1 class="font-semibold my-0">400</h1>

                <h2 class="mt-0">Petición Incorrecta.</h2>

                <a href="@Url.Action("Inicio", "Inicio")" class="btn btn-flat waves-effect yellow white-text font-bold">Ir a la página principal</a>
            </div>
        </div>
    </div>
</div>