/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');*/

.oops {
    min-height: 78vh;
}

    .oops h1 {
        font-size: 10rem;
        font-weight: 300 !important;
        color: #211b19;
        text-transform: uppercase;
    }

    .oops h2 {
        font-size: 2rem;
        font-weight: 300 !important;
        text-transform: uppercase;
        background-color: #365F91;
        padding: 10px 5px;
        color: #FFFFFF;
    }

    .oops a {
        display: inline-block;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

/* Estilos para móviles y tablets */
@media only screen and (max-width: 992px) {
    .oops h1 {
        font-size: 5rem;
    }

    .oops h2 {
        font-size: 1rem;
    }
}
