@using SGJD_INA.Models.ViewModels;

@model EliminarAvisoViewModel

@{
    ViewBag.Title = "Eliminar Tipo de Objeto";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@* Encabezado / Título del PopUp / Modal / Dialog *@
<h6 class="center text-uppercase mb-2">
    Eliminar Aviso
</h6>

@using (Html.BeginForm("Eliminar", "Avisos", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", autocomplete = "off" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="center mb-2 black-text">
        ¿Desea eliminar el aviso:
        <label class="font-bold fz-1r black-text">@Html.DisplayFor(model => model.Nombre)</label>?
    </div>

    <div class="center">
        <button type="submit" title="Eliminar" value="Eliminar" class="btn btn-small grey lighten-3 red-text font-bold waves-effect waves-light fz-0-8r">
            Eliminar
        </button>
        <button type="button" title="Cancelar" value="Cancelar" class="btn btn-small grey lighten-3 blue-text waves-effect fz-0-8r" onclick="CerrarDialog()">
            Cancelar
        </button>
    </div>
}