<!-- Modal para mostrar la lista de usuarios de SIRH -->
<div id="ModalUsuariosSIRH" class="modal">
    <div class="modal-content px-0 py-1">
        <div class="row">
            <div class="col s10">
                <h6 class="blue-text">Usuarios de SIRH</h6>
            </div>
            <div class="col s2">
                <a href="#!" class="modal-close waves-effect waves-green btn-sm btn-flat right pr-0">Cerrar</a>
            </div>

            <div class="col s12">
                <table id="TablaUsuariosSIRH" class="table responsive display width-100 bordered">
                    <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Nombre de usuario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap></td>
                            <td nowrap></td>
                            <td nowrap></td>
                            <td nowrap></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>