@using SGJD_INA.Models.Entities

@model IEnumerable<ApplicationUser>

@{
    Layout = null;
}

<h6 class="center text-uppercase">
    Usuarios del perfil <span class="blue-text">@ViewBag.NombrePerfil</span>
</h6>

@if (Model.Count() == 0) {
    <p class="center font-bold">
        No hay usuarios
    </p>
}
else {
    foreach (var item in Model) {
        <p>
            <span class="font-bold">@Html.DisplayFor(modelItem => item.Cedula) - </span>
            @Html.DisplayFor(modelItem => item.Nombre)
        </p>
    }
}

<div class="center">
    <button type="button" title="Cerrar" value="Cerrar" class="btn btn-small grey lighten-3 red-text font-bold waves-effect fz-0-8r" onclick="CerrarDialog()">
        Cerrar
    </button>
</div>