USE [master]
GO
/****** Object:  Database [SGJD]    Script Date: 09/10/2019 09:12:52 a.m. ******/
CREATE DATABASE [SGJD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGJD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SGJD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SGJD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SGJD_log.ldf' , SIZE = 598016KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGJD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGJD]
GO
/****** Object:  User [ina_test]    Script Date: 09/10/2019 09:12:52 a.m. ******/
CREATE USER [ina_test] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [ina_test]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [ina_test]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [LLP_Perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_ACTA]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_ACTA](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdSesion] [int] NOT NULL,
	[LLF_IdTomo] [int] NOT NULL,
	[LLF_IdEstado] [int] NOT NULL,
	[Numero] [int] NOT NULL,
 CONSTRAINT [LLP_Acta] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_ARTICULO]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_ARTICULO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdCapitulo] [int] NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[Confidencial] [bit] NOT NULL,
	[LLF_IdTema] [int] NULL,
	[Observacion] [varchar](max) NULL,
 CONSTRAINT [LLP_Articulo] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_CAPITULO]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_CAPITULO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdActa] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Contenido] [nvarchar](max) NULL,
 CONSTRAINT [LLP_Capitulo] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_ORDEN_DIA]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_ORDEN_DIA](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdSesion] [int] NOT NULL,
	[LLF_IdEstado] [int] NOT NULL,
 CONSTRAINT [LLP_OrdenDia] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_SECCION]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_SECCION](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [LLP_Seccion] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_SECCION_ORDEN_DIA]    Script Date: 09/10/2019 09:12:52 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_SECCION_ORDEN_DIA](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdOrdenDia] [int] NOT NULL,
	[LLF_IdSeccion] [int] NOT NULL,
 CONSTRAINT [PK_SGJD_ACT_TAB_SECCION_ORDEN_DIA_1] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_SESION]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_SESION](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[LLF_IdTipoSesion] [int] NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[LLF_IdEstado] [int] NOT NULL,
 CONSTRAINT [LLP_Sesion] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_TEMA]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_TEMA](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdSeccion] [int] NOT NULL,
	[LLF_IdSesionEjecutada] [int] NULL,
	[LLF_IdEstado] [int] NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[Resumen] [nvarchar](max) NOT NULL,
	[LLF_IdOrdenDia] [int] NULL,
	[Observacion] [varchar](max) NULL,
 CONSTRAINT [LLP_Tema] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_TOMO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_TOMO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[Nombre] [nvarchar](256) NULL,
	[ObservaciónApertura] [nvarchar](4000) NOT NULL,
	[ObservacionCierre] [nvarchar](4000) NULL,
 CONSTRAINT [LLP_Tomo] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_USUARIO_TOMO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_USUARIO_TOMO](
	[LLF_IdTomo] [int] NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Accion] [nvarchar](50) NULL,
 CONSTRAINT [LLP_TomoUsuario] PRIMARY KEY CLUSTERED 
(
	[LLF_IdTomo] ASC,
	[LLF_IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACT_TAB_VOTACIONES]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACT_TAB_VOTACIONES](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdSesion] [int] NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[LLF_IdTema] [int] NOT NULL,
	[TipoVoto] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SGJD_ACT_TAB_VOTACIONES] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACU_TAB_ACUERDO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACU_TAB_ACUERDO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdArticulo] [int] NOT NULL,
	[LLF_IdEstado] [int] NOT NULL,
	[NumeroAcuerdo] [int] NOT NULL,
	[Titulo] [nvarchar](1000) NOT NULL,
	[Firme] [bit] NOT NULL,
	[FechaFirmeza] [datetime] NULL,
	[Asunto] [nvarchar](1000) NOT NULL,
	[NumeroVersion] [int] NOT NULL,
	[Firma] [nvarchar](512) NULL,
	[Detalle] [nvarchar](250) NULL,
	[Observaciones] [nvarchar](100) NULL,
 CONSTRAINT [LLP_Acuerdo] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACU_TAB_AVANCE]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACU_TAB_AVANCE](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[LLF_IdAcuerdo] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [LLP_Avance] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACU_TAB_CONSIDERANDO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACU_TAB_CONSIDERANDO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdAcuerdo] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [LLP_Considerando] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACU_TAB_PORTANTO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACU_TAB_PORTANTO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdAcuerdo] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [LLP_PorTanto] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACU_TAB_SEGUIMIENTO_ACUERDO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACU_TAB_SEGUIMIENTO_ACUERDO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdAcuerdo] [int] NOT NULL,
	[Detalle] [nvarchar](max) NOT NULL,
	[EstadoEjecucion] [int] NOT NULL,
	[FechaNotificacion] [datetime] NULL,
	[FechaVencimiento] [datetime] NULL,
	[PlazoDias] [int] NULL,
	[PorcentajeAvance] [decimal](18, 0) NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_SGJD_ACU_TAB_SEGUIMIENTO_ACUERDO] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ACU_TAB_UNIDAD_ACUERDO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ACU_TAB_UNIDAD_ACUERDO](
	[LLF_IdAcuerdo] [int] NOT NULL,
	[LLF_IdUnidad] [int] NOT NULL,
	[Tipo] [int] NOT NULL,
 CONSTRAINT [LLP_UnidadAcuerdo] PRIMARY KEY CLUSTERED 
(
	[LLF_IdAcuerdo] ASC,
	[LLF_IdUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_ANOTACION]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_ANOTACION](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdTipoObjeto] [int] NOT NULL,
	[IdObjeto] [int] NOT NULL,
	[LLF_IdEstado] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [LLP_Anotacion] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdTipoObjeto] [int] NOT NULL,
	[LLF_IdRepositorio] [int] NOT NULL,
	[IdObjeto] [int] NOT NULL,
	[Observacion] [nvarchar](max) NULL,
	[UrlArchivo] [nvarchar](100) NOT NULL,
	[LLF_TipoArchivo] [int] NULL,
 CONSTRAINT [LLP_ArchivoAdjunto] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_ASISTENTE_SESION]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_ASISTENTE_SESION](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdSesion] [int] NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[HoraInicio] [datetime] NOT NULL,
	[HoraFin] [datetime] NOT NULL,
 CONSTRAINT [LLP_AsistenteSesion] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_BITACORA]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_BITACORA](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Accion] [nvarchar](max) NOT NULL,
	[ValorAntiguo] [nvarchar](max) NOT NULL,
	[ValorNuevo] [nvarchar](max) NOT NULL,
	[DireccionIP] [nvarchar](50) NOT NULL,
	[DescripcionDispositivo] [nvarchar](100) NOT NULL,
	[SeccionSistema] [nvarchar](100) NOT NULL,
 CONSTRAINT [LLP_Bitacora] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_CONFIGURACION_AVISOS]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_CONFIGURACION_AVISOS](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdUnidad] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Mensaje] [varchar](max) NOT NULL,
	[TipoDestinatario] [varchar](50) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SGJD_ADM_TAB_MANT_NOTIFICACIONES] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_CORREO_USUARIO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_CORREO_USUARIO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[Correo] [nvarchar](100) NULL,
 CONSTRAINT [LLP_CorreoUsuario] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_DESTINATARIOS_AVISOS]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_DESTINATARIOS_AVISOS](
	[LLF_IdAviso] [int] NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[Prueba] [bit] NULL,
 CONSTRAINT [LLP_DESTINATARIOS_AVISOS] PRIMARY KEY CLUSTERED 
(
	[LLF_IdAviso] ASC,
	[LLF_IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_ENCABEZADO_PIEPAGINA]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_ENCABEZADO_PIEPAGINA](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdTipoObjeto] [int] NOT NULL,
	[Encabezado] [nvarchar](max) NULL,
	[PiePagina] [nvarchar](max) NULL,
 CONSTRAINT [LLP_EncabezadoPiepagina] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_ESTADO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_ESTADO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdTipoObjeto] [int] NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[LLF_IdAviso] [int] NOT NULL,
 CONSTRAINT [LLP_Estado] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_MIEMBROS_JD]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_MIEMBROS_JD](
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
 CONSTRAINT [LLP_MiembrosJD] PRIMARY KEY CLUSTERED 
(
	[LLF_IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_NOTIFICACIONES]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_NOTIFICACIONES](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_Usuario] [nvarchar](128) NULL,
	[Mensaje] [nvarchar](max) NULL,
	[FechaHora] [datetime] NULL,
 CONSTRAINT [LLP_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_OTRO_ASISTENTE_SESION]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_OTRO_ASISTENTE_SESION](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdSesion] [int] NOT NULL,
	[LLF_IdTipoUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](256) NOT NULL,
	[Observacion] [nvarchar](256) NOT NULL,
	[HoraInicio] [datetime] NOT NULL,
	[HoraFin] [datetime] NOT NULL,
 CONSTRAINT [LLP_OtroAsistenteSesion] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_PARAMETRO_EDICION]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_PARAMETRO_EDICION](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdTipoObjeto] [int] NOT NULL,
	[FuenteTitulo] [nvarchar](50) NOT NULL,
	[TamanoTitulo] [int] NOT NULL,
	[EstiloFuenteTitulo] [nvarchar](20) NULL,
	[FuenteContenido] [nvarchar](50) NOT NULL,
	[TamanoContenido] [int] NOT NULL,
	[EstiloFuenteContenido] [nvarchar](20) NULL,
	[AlineacionParrafoTitulo] [varchar](max) NULL,
	[AlineacionParrafoContenido] [varchar](max) NULL,
 CONSTRAINT [LLP_ParametroEdicion] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_PARAMETROS_GENERALES]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_PARAMETROS_GENERALES](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Valor] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ADM_TAB_PARAMETRS_GENERALES] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_REPOSITORIO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_REPOSITORIO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Ruta] [nvarchar](50) NOT NULL,
 CONSTRAINT [LLP_Repositorio] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_RESPALDO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_RESPALDO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[NombreRespaldo] [nvarchar](100) NOT NULL,
	[URLArchivoBD] [nvarchar](100) NOT NULL,
	[URLArchivoRepositorio] [nvarchar](999) NOT NULL,
 CONSTRAINT [LLP_Respaldo] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_TELEFONO_USUARIO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_TELEFONO_USUARIO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdUsuario] [nvarchar](128) NOT NULL,
	[Numero] [nvarchar](20) NOT NULL,
	[Extension] [nvarchar](10) NULL,
 CONSTRAINT [LLP_TelefonoUsuario] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_TIPO_ARCHIVO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_TIPO_ARCHIVO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](10) NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
 CONSTRAINT [LLP_Id] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_TIPO_OBJETO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_TIPO_OBJETO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[NombreTabla] [nvarchar](250) NOT NULL,
	[ParametroEdicion] [bit] NOT NULL,
	[Nomenclatura] [nvarchar](50) NOT NULL,
	[Consecutivo] [int] NOT NULL,
	[ParametroEncabezadoPie] [bit] NOT NULL,
 CONSTRAINT [LLP_TipoObjeto] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_TIPO_SESION]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_TIPO_SESION](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [LLP_TipoSesion] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_TIPO_USUARIO]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_TIPO_USUARIO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](256) NOT NULL,
 CONSTRAINT [LLP_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_UNIDAD]    Script Date: 09/10/2019 09:12:53 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_UNIDAD](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [LLP_Unidad] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_USUARIO]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_USUARIO](
	[Id] [nvarchar](128) NOT NULL,
	[LLF_IdTipoUsuario] [int] NOT NULL,
	[LLF_IdUnidad] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](128) NOT NULL,
	[SecurityStamp] [nvarchar](128) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UltimaSesion] [datetime] NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[IdOffice] [nchar](128) NULL,
 CONSTRAINT [LLP_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Cedula_Unique] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Email_Unique] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UserName_Unique] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[LLF_IdAsistenteSesion] [int] NULL,
	[LLF_IdOtroAsistente] [int] NULL,
	[LLF_IdArticulo] [int] NOT NULL,
 CONSTRAINT [PK_SGJD_ADM_TAB_USUARIO_ARTICULO] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_VISTA]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_VISTA](
	[LLP_Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreVista] [nvarchar](100) NOT NULL,
	[DireccionVista] [nvarchar](100) NOT NULL,
 CONSTRAINT [LLP_Vista] PRIMARY KEY CLUSTERED 
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SGJD_ADM_TAB_VISTA_PERFIL]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGJD_ADM_TAB_VISTA_PERFIL](
	[LLF_IdVista] [int] NOT NULL,
	[LLF_IdPerfil] [nvarchar](128) NOT NULL,
	[Permiso] [int] NOT NULL,
 CONSTRAINT [LLP_VistaPerfil] PRIMARY KEY CLUSTERED 
(
	[LLF_IdVista] ASC,
	[LLF_IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SGJD_ADM_TAB_ESTADO]    Script Date: 09/10/2019 09:12:54 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_SGJD_ADM_TAB_ESTADO] ON [dbo].[SGJD_ADM_TAB_ESTADO]
(
	[LLP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.SGJD_ADM_TAB_USUARIO_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.SGJD_ADM_TAB_USUARIO_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.SGJD_ADM_TAB_USUARIO_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.SGJD_ADM_TAB_USUARIO_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.SGJD_ADM_TAB_USUARIO_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.SGJD_ADM_TAB_USUARIO_UserId]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ACTA]  WITH CHECK ADD  CONSTRAINT [LLF_Acta_Estado_LLF_IdEstado] FOREIGN KEY([LLF_IdEstado])
REFERENCES [dbo].[SGJD_ADM_TAB_ESTADO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ACTA] CHECK CONSTRAINT [LLF_Acta_Estado_LLF_IdEstado]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ACTA]  WITH CHECK ADD  CONSTRAINT [LLF_Acta_Sesion_LLF_IdSesion] FOREIGN KEY([LLF_IdSesion])
REFERENCES [dbo].[SGJD_ACT_TAB_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ACTA] CHECK CONSTRAINT [LLF_Acta_Sesion_LLF_IdSesion]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ACTA]  WITH CHECK ADD  CONSTRAINT [LLF_Acta_Tomo_LLF_IdTomo] FOREIGN KEY([LLF_IdTomo])
REFERENCES [dbo].[SGJD_ACT_TAB_TOMO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ACTA] CHECK CONSTRAINT [LLF_Acta_Tomo_LLF_IdTomo]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ARTICULO]  WITH CHECK ADD  CONSTRAINT [LLF_Articulo_Capitulo_LLF_IdCapitulo] FOREIGN KEY([LLF_IdCapitulo])
REFERENCES [dbo].[SGJD_ACT_TAB_CAPITULO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ARTICULO] CHECK CONSTRAINT [LLF_Articulo_Capitulo_LLF_IdCapitulo]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ARTICULO]  WITH CHECK ADD  CONSTRAINT [LLF_Articulo_Tema_LLF_IdTema] FOREIGN KEY([LLF_IdTema])
REFERENCES [dbo].[SGJD_ACT_TAB_TEMA] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ARTICULO] CHECK CONSTRAINT [LLF_Articulo_Tema_LLF_IdTema]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_CAPITULO]  WITH CHECK ADD  CONSTRAINT [LLF_Capitulo_Acta_LLF_IdActa] FOREIGN KEY([LLF_IdActa])
REFERENCES [dbo].[SGJD_ACT_TAB_ACTA] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_CAPITULO] CHECK CONSTRAINT [LLF_Capitulo_Acta_LLF_IdActa]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ORDEN_DIA]  WITH CHECK ADD  CONSTRAINT [LLF_OrdenDia_Estado_LLF_IdEstado] FOREIGN KEY([LLF_IdEstado])
REFERENCES [dbo].[SGJD_ADM_TAB_ESTADO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ORDEN_DIA] CHECK CONSTRAINT [LLF_OrdenDia_Estado_LLF_IdEstado]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ORDEN_DIA]  WITH CHECK ADD  CONSTRAINT [LLF_OrdenDia_Sesion_LLF_IdSesion] FOREIGN KEY([LLF_IdSesion])
REFERENCES [dbo].[SGJD_ACT_TAB_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_ORDEN_DIA] CHECK CONSTRAINT [LLF_OrdenDia_Sesion_LLF_IdSesion]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SECCION_ORDEN_DIA]  WITH CHECK ADD  CONSTRAINT [LLF_SeccionOrdenDia_OrdenDia_LFF_IdOrdenDia] FOREIGN KEY([LLF_IdOrdenDia])
REFERENCES [dbo].[SGJD_ACT_TAB_ORDEN_DIA] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SECCION_ORDEN_DIA] CHECK CONSTRAINT [LLF_SeccionOrdenDia_OrdenDia_LFF_IdOrdenDia]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SECCION_ORDEN_DIA]  WITH CHECK ADD  CONSTRAINT [LLF_SeccionOrdenDia_Seccion_LLF_IdSeccion] FOREIGN KEY([LLF_IdSeccion])
REFERENCES [dbo].[SGJD_ACT_TAB_SECCION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SECCION_ORDEN_DIA] CHECK CONSTRAINT [LLF_SeccionOrdenDia_Seccion_LLF_IdSeccion]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SESION]  WITH CHECK ADD  CONSTRAINT [LLP_Id_Estado_LLF_IdEstado] FOREIGN KEY([LLF_IdEstado])
REFERENCES [dbo].[SGJD_ADM_TAB_ESTADO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SESION] CHECK CONSTRAINT [LLP_Id_Estado_LLF_IdEstado]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SESION]  WITH CHECK ADD  CONSTRAINT [LLP_Tipo_Sesion_LLF_Sesion] FOREIGN KEY([LLF_IdTipoSesion])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SESION] CHECK CONSTRAINT [LLP_Tipo_Sesion_LLF_Sesion]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SESION]  WITH CHECK ADD  CONSTRAINT [LLP_Usuario_LLF_Sesion] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_SESION] CHECK CONSTRAINT [LLP_Usuario_LLF_Sesion]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA]  WITH CHECK ADD  CONSTRAINT [LLF_Tema_Estado_LLF_IdEstado] FOREIGN KEY([LLF_IdEstado])
REFERENCES [dbo].[SGJD_ADM_TAB_ESTADO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA] CHECK CONSTRAINT [LLF_Tema_Estado_LLF_IdEstado]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA]  WITH CHECK ADD  CONSTRAINT [LLF_Tema_OrdenDia_LLF_idOrdenDia] FOREIGN KEY([LLF_IdOrdenDia])
REFERENCES [dbo].[SGJD_ACT_TAB_ORDEN_DIA] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA] CHECK CONSTRAINT [LLF_Tema_OrdenDia_LLF_idOrdenDia]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA]  WITH CHECK ADD  CONSTRAINT [LLF_Tema_Seccion_LLF_IdSeccion] FOREIGN KEY([LLF_IdSeccion])
REFERENCES [dbo].[SGJD_ACT_TAB_SECCION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA] CHECK CONSTRAINT [LLF_Tema_Seccion_LLF_IdSeccion]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA]  WITH CHECK ADD  CONSTRAINT [LLF_Tema_Sesion_LLF_IdSesionEjecutadan] FOREIGN KEY([LLF_IdSesionEjecutada])
REFERENCES [dbo].[SGJD_ACT_TAB_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_TEMA] CHECK CONSTRAINT [LLF_Tema_Sesion_LLF_IdSesionEjecutadan]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_USUARIO_TOMO]  WITH CHECK ADD  CONSTRAINT [LLF_TomoUsuario_Usuario_LLF_IdTomo] FOREIGN KEY([LLF_IdTomo])
REFERENCES [dbo].[SGJD_ACT_TAB_TOMO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_USUARIO_TOMO] CHECK CONSTRAINT [LLF_TomoUsuario_Usuario_LLF_IdTomo]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_USUARIO_TOMO]  WITH CHECK ADD  CONSTRAINT [LLF_TomoUsuario_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_USUARIO_TOMO] CHECK CONSTRAINT [LLF_TomoUsuario_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_VOTACIONES]  WITH CHECK ADD  CONSTRAINT [FK_VOTACIONES_A_SESION] FOREIGN KEY([LLF_IdSesion])
REFERENCES [dbo].[SGJD_ACT_TAB_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_VOTACIONES] CHECK CONSTRAINT [FK_VOTACIONES_A_SESION]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_VOTACIONES]  WITH CHECK ADD  CONSTRAINT [FK_VOTACIONES_A_TEMA] FOREIGN KEY([LLF_IdTema])
REFERENCES [dbo].[SGJD_ACT_TAB_TEMA] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_VOTACIONES] CHECK CONSTRAINT [FK_VOTACIONES_A_TEMA]
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_VOTACIONES]  WITH CHECK ADD  CONSTRAINT [FK_VOTACIONES_A_USUARIO] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ACT_TAB_VOTACIONES] CHECK CONSTRAINT [FK_VOTACIONES_A_USUARIO]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_ACUERDO]  WITH CHECK ADD  CONSTRAINT [LLF_Acuerdo_Articulo_LLF_IdArticulo] FOREIGN KEY([LLF_IdArticulo])
REFERENCES [dbo].[SGJD_ACT_TAB_ARTICULO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_ACUERDO] CHECK CONSTRAINT [LLF_Acuerdo_Articulo_LLF_IdArticulo]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_ACUERDO]  WITH CHECK ADD  CONSTRAINT [LLF_Acuerdo_Estado_LLF_IdEstado] FOREIGN KEY([LLF_IdEstado])
REFERENCES [dbo].[SGJD_ADM_TAB_ESTADO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_ACUERDO] CHECK CONSTRAINT [LLF_Acuerdo_Estado_LLF_IdEstado]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_AVANCE]  WITH CHECK ADD  CONSTRAINT [LLF_Avance_Acuerdo_LLF_IdAcuerdo] FOREIGN KEY([LLF_IdAcuerdo])
REFERENCES [dbo].[SGJD_ACU_TAB_ACUERDO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_AVANCE] CHECK CONSTRAINT [LLF_Avance_Acuerdo_LLF_IdAcuerdo]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_AVANCE]  WITH CHECK ADD  CONSTRAINT [LLF_Avance_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_AVANCE] CHECK CONSTRAINT [LLF_Avance_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_CONSIDERANDO]  WITH CHECK ADD  CONSTRAINT [LLF_Considerando_Acuerdo_LLF_IdAcuerdo] FOREIGN KEY([LLF_IdAcuerdo])
REFERENCES [dbo].[SGJD_ACU_TAB_ACUERDO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_CONSIDERANDO] CHECK CONSTRAINT [LLF_Considerando_Acuerdo_LLF_IdAcuerdo]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_PORTANTO]  WITH CHECK ADD  CONSTRAINT [LLF_PorTanto_Acuerdo_LLF_IdAcuerdo] FOREIGN KEY([LLF_IdAcuerdo])
REFERENCES [dbo].[SGJD_ACU_TAB_ACUERDO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_PORTANTO] CHECK CONSTRAINT [LLF_PorTanto_Acuerdo_LLF_IdAcuerdo]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_SEGUIMIENTO_ACUERDO]  WITH CHECK ADD  CONSTRAINT [TABLA_ACUERDO_TABLA_SEGUIMIENTO_ACUERDO] FOREIGN KEY([LLF_IdAcuerdo])
REFERENCES [dbo].[SGJD_ACU_TAB_ACUERDO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_SEGUIMIENTO_ACUERDO] CHECK CONSTRAINT [TABLA_ACUERDO_TABLA_SEGUIMIENTO_ACUERDO]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_UNIDAD_ACUERDO]  WITH CHECK ADD  CONSTRAINT [LLF_UnidadAcuerdo_Acuerdo_LLF_IdAcuerdo] FOREIGN KEY([LLF_IdAcuerdo])
REFERENCES [dbo].[SGJD_ACU_TAB_ACUERDO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_UNIDAD_ACUERDO] CHECK CONSTRAINT [LLF_UnidadAcuerdo_Acuerdo_LLF_IdAcuerdo]
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_UNIDAD_ACUERDO]  WITH CHECK ADD  CONSTRAINT [LLF_UnidadAcuerdo_Unidad_LLF_IdUnidad] FOREIGN KEY([LLF_IdUnidad])
REFERENCES [dbo].[SGJD_ADM_TAB_UNIDAD] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ACU_TAB_UNIDAD_ACUERDO] CHECK CONSTRAINT [LLF_UnidadAcuerdo_Unidad_LLF_IdUnidad]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ANOTACION]  WITH CHECK ADD  CONSTRAINT [LLF_Anotacion_Estado_LLF_IdEstado] FOREIGN KEY([LLF_IdEstado])
REFERENCES [dbo].[SGJD_ADM_TAB_ESTADO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ANOTACION] CHECK CONSTRAINT [LLF_Anotacion_Estado_LLF_IdEstado]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ANOTACION]  WITH CHECK ADD  CONSTRAINT [LLF_Anotacion_TipoObjeto_LLF_IdTipoObjeto] FOREIGN KEY([LLF_IdTipoObjeto])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_OBJETO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ANOTACION] CHECK CONSTRAINT [LLF_Anotacion_TipoObjeto_LLF_IdTipoObjeto]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [LLF_ARCHIVO_ADJUNTO_LLF_TIPO_ARCHIVO] FOREIGN KEY([LLF_TipoArchivo])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_ARCHIVO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO] CHECK CONSTRAINT [LLF_ARCHIVO_ADJUNTO_LLF_TIPO_ARCHIVO]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [LLF_ArchivoAdjunto_Ruta_LLF_IdRepositorio] FOREIGN KEY([LLF_IdRepositorio])
REFERENCES [dbo].[SGJD_ADM_TAB_REPOSITORIO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO] CHECK CONSTRAINT [LLF_ArchivoAdjunto_Ruta_LLF_IdRepositorio]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [LLF_ArchivoAdjunto_TipoObjeto_LLF_IdTipoObjeto] FOREIGN KEY([LLF_IdTipoObjeto])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_OBJETO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ARCHIVO_ADJUNTO] CHECK CONSTRAINT [LLF_ArchivoAdjunto_TipoObjeto_LLF_IdTipoObjeto]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ASISTENTE_SESION]  WITH CHECK ADD  CONSTRAINT [LLF_AsistenteSesion_Sesion_LLF_IdSesion] FOREIGN KEY([LLF_IdSesion])
REFERENCES [dbo].[SGJD_ACT_TAB_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ASISTENTE_SESION] CHECK CONSTRAINT [LLF_AsistenteSesion_Sesion_LLF_IdSesion]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ASISTENTE_SESION]  WITH CHECK ADD  CONSTRAINT [LLF_AsistenteSesion_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ASISTENTE_SESION] CHECK CONSTRAINT [LLF_AsistenteSesion_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_BITACORA]  WITH CHECK ADD  CONSTRAINT [LLF_Bitacora_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_BITACORA] CHECK CONSTRAINT [LLF_Bitacora_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_CONFIGURACION_AVISOS]  WITH CHECK ADD  CONSTRAINT [FK_SGJD_ADM_TAB_MANT_NOTIFICACIONES_SGJD_ADM_TAB_UNIDAD] FOREIGN KEY([LLF_IdUnidad])
REFERENCES [dbo].[SGJD_ADM_TAB_UNIDAD] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_CONFIGURACION_AVISOS] CHECK CONSTRAINT [FK_SGJD_ADM_TAB_MANT_NOTIFICACIONES_SGJD_ADM_TAB_UNIDAD]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_CORREO_USUARIO]  WITH CHECK ADD  CONSTRAINT [LLF_CorreoUsuario_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_CORREO_USUARIO] CHECK CONSTRAINT [LLF_CorreoUsuario_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_DESTINATARIOS_AVISOS]  WITH CHECK ADD  CONSTRAINT [LLF_Destinatarios_Avisos_ConfiguracionAvisos_LLF_IdAviso] FOREIGN KEY([LLF_IdAviso])
REFERENCES [dbo].[SGJD_ADM_TAB_CONFIGURACION_AVISOS] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_DESTINATARIOS_AVISOS] CHECK CONSTRAINT [LLF_Destinatarios_Avisos_ConfiguracionAvisos_LLF_IdAviso]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_DESTINATARIOS_AVISOS]  WITH CHECK ADD  CONSTRAINT [LLF_Destinatarios_Avisos_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_DESTINATARIOS_AVISOS] CHECK CONSTRAINT [LLF_Destinatarios_Avisos_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ENCABEZADO_PIEPAGINA]  WITH CHECK ADD  CONSTRAINT [LLF_EncabezadoPiepagina_TipoObjeto_LLF_IdTipoObjeto] FOREIGN KEY([LLF_IdTipoObjeto])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_OBJETO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ENCABEZADO_PIEPAGINA] CHECK CONSTRAINT [LLF_EncabezadoPiepagina_TipoObjeto_LLF_IdTipoObjeto]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ESTADO]  WITH CHECK ADD  CONSTRAINT [id] FOREIGN KEY([LLF_IdAviso])
REFERENCES [dbo].[SGJD_ADM_TAB_CONFIGURACION_AVISOS] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ESTADO] CHECK CONSTRAINT [id]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ESTADO]  WITH CHECK ADD  CONSTRAINT [LLF_Estado_TipoObjeto_LLF_IdTipoObjeto] FOREIGN KEY([LLF_IdTipoObjeto])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_OBJETO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ESTADO] CHECK CONSTRAINT [LLF_Estado_TipoObjeto_LLF_IdTipoObjeto]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ESTADO]  WITH CHECK ADD  CONSTRAINT [LLF_IdAviso] FOREIGN KEY([LLP_Id])
REFERENCES [dbo].[SGJD_ADM_TAB_ESTADO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_ESTADO] CHECK CONSTRAINT [LLF_IdAviso]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_MIEMBROS_JD]  WITH CHECK ADD  CONSTRAINT [LLF_MiembrosJD_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_MIEMBROS_JD] CHECK CONSTRAINT [LLF_MiembrosJD_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_NOTIFICACIONES]  WITH CHECK ADD  CONSTRAINT [LLF_Notificaciones_Usuario_LLF_Usuario] FOREIGN KEY([LLF_Usuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_NOTIFICACIONES] CHECK CONSTRAINT [LLF_Notificaciones_Usuario_LLF_Usuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_OTRO_ASISTENTE_SESION]  WITH CHECK ADD  CONSTRAINT [LLF_OtroAsistencia_TipoUsuario_LLF_IdTipoUsuario] FOREIGN KEY([LLF_IdTipoUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_USUARIO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_OTRO_ASISTENTE_SESION] CHECK CONSTRAINT [LLF_OtroAsistencia_TipoUsuario_LLF_IdTipoUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_OTRO_ASISTENTE_SESION]  WITH CHECK ADD  CONSTRAINT [LLF_OtroAsistenteSesion_Sesion_LLF_IdSesion] FOREIGN KEY([LLF_IdSesion])
REFERENCES [dbo].[SGJD_ACT_TAB_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_OTRO_ASISTENTE_SESION] CHECK CONSTRAINT [LLF_OtroAsistenteSesion_Sesion_LLF_IdSesion]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_PARAMETRO_EDICION]  WITH CHECK ADD  CONSTRAINT [LLF_ParametroEdicion_TipoObjeto_LLF_IdTipoObjeto] FOREIGN KEY([LLF_IdTipoObjeto])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_OBJETO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_PARAMETRO_EDICION] CHECK CONSTRAINT [LLF_ParametroEdicion_TipoObjeto_LLF_IdTipoObjeto]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_RESPALDO]  WITH CHECK ADD  CONSTRAINT [LLF_Respaldo_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_RESPALDO] CHECK CONSTRAINT [LLF_Respaldo_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_TELEFONO_USUARIO]  WITH CHECK ADD  CONSTRAINT [LLF_TelefonoUsuario_Usuario_LLF_IdUsuario] FOREIGN KEY([LLF_IdUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_TELEFONO_USUARIO] CHECK CONSTRAINT [LLF_TelefonoUsuario_Usuario_LLF_IdUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO]  WITH CHECK ADD  CONSTRAINT [LLF_Usuario_TipoUsuario_LLF_IdTipoUsuario] FOREIGN KEY([LLF_IdTipoUsuario])
REFERENCES [dbo].[SGJD_ADM_TAB_TIPO_USUARIO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO] CHECK CONSTRAINT [LLF_Usuario_TipoUsuario_LLF_IdTipoUsuario]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO]  WITH CHECK ADD  CONSTRAINT [LLF_Usuario_Unidad_LLF_IdUnidad] FOREIGN KEY([LLF_IdUnidad])
REFERENCES [dbo].[SGJD_ADM_TAB_UNIDAD] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO] CHECK CONSTRAINT [LLF_Usuario_Unidad_LLF_IdUnidad]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO]  WITH CHECK ADD  CONSTRAINT [LLP_Id_Aeticulo_LLF_IdArticulo] FOREIGN KEY([LLF_IdArticulo])
REFERENCES [dbo].[SGJD_ACT_TAB_ARTICULO] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO] CHECK CONSTRAINT [LLP_Id_Aeticulo_LLF_IdArticulo]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO]  WITH CHECK ADD  CONSTRAINT [LLP_Id_Asistente_Sesion_LLF_IdAsistenteSesion] FOREIGN KEY([LLF_IdAsistenteSesion])
REFERENCES [dbo].[SGJD_ADM_TAB_ASISTENTE_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO] CHECK CONSTRAINT [LLP_Id_Asistente_Sesion_LLF_IdAsistenteSesion]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO]  WITH CHECK ADD  CONSTRAINT [LLP_Id_Otro_Asistente_Sesion_LLF_IdOtroAsistente] FOREIGN KEY([LLF_IdOtroAsistente])
REFERENCES [dbo].[SGJD_ADM_TAB_OTRO_ASISTENTE_SESION] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_USUARIO_ARTICULO] CHECK CONSTRAINT [LLP_Id_Otro_Asistente_Sesion_LLF_IdOtroAsistente]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_VISTA_PERFIL]  WITH CHECK ADD  CONSTRAINT [LLF_VistaPerfil_AspNetRoles_LLF_IdPerfil] FOREIGN KEY([LLF_IdPerfil])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_VISTA_PERFIL] CHECK CONSTRAINT [LLF_VistaPerfil_AspNetRoles_LLF_IdPerfil]
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_VISTA_PERFIL]  WITH CHECK ADD  CONSTRAINT [LLF_VistaPerfil_Vista_LLF_IdVista] FOREIGN KEY([LLF_IdVista])
REFERENCES [dbo].[SGJD_ADM_TAB_VISTA] ([LLP_Id])
GO
ALTER TABLE [dbo].[SGJD_ADM_TAB_VISTA_PERFIL] CHECK CONSTRAINT [LLF_VistaPerfil_Vista_LLF_IdVista]
GO
/****** Object:  StoredProcedure [dbo].[SGJD_ACT_PRO_ACUERDOS_SIN_SEGUIMIENTO]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SGJD_ACT_PRO_ACUERDOS_SIN_SEGUIMIENTO]

AS 
SELECT DISTINCT Acuerdos.LLP_Id as LLP_Id,Acuerdos.Titulo as Titulo , Acuerdos.FechaFirmeza as FechaFirmeza,
Acuerdos.Detalle as Detalle, Acuerdos.LLF_IdEstado as LLF_IdEstado, Estado.Descripcion as DescripcionEstado FROM SGJD_ACU_TAB_ACUERDO Acuerdos
INNER JOIN SGJD_ADM_TAB_ESTADO Estado on Estado.LLP_Id = Acuerdos.LLF_IdEstado
LEFT JOIN SGJD_ACU_TAB_SEGUIMIENTO_ACUERDO SAcuedo on SAcuedo.LLF_IdAcuerdo = Acuerdos.LLP_Id
WHERE Acuerdos.LLF_IdEstado = 1021
AND SAcuedo.LLF_IdAcuerdo IS NULL
GO
/****** Object:  StoredProcedure [dbo].[SGJD_ACT_PRO_OBTENER_DATOS_SESIONES]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento almacenado para obtener los datos de la cantidad de sesiones por tipo para ser
-- utilizado en ChartJS y mostrarlo en un gráfico
CREATE PROCEDURE [dbo].[SGJD_ACT_PRO_OBTENER_DATOS_SESIONES]
AS
BEGIN
	SELECT ts.Descripcion AS 'Tipo', COUNT(s.LLP_Id) AS Cantidad
	FROM SGJD_ADM_TAB_TIPO_SESION ts
	INNER JOIN SGJD_ACT_TAB_SESION s ON ts.LLP_Id = s.LLF_IdTipoSesion
	GROUP BY ts.Descripcion
END
--Fin de SP
GO
/****** Object:  StoredProcedure [dbo].[SGJD_ACT_PRO_OBTENER_SESIONES_PARA_ACUERDO]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SGJD_ACT_PRO_OBTENER_SESIONES_PARA_ACUERDO]

AS 
SELECT DISTINCT sesion.LLP_Id as LLP_Id, sesion.Numero as Numero, sesion.LLF_IdUsuario as LLF_IdUsuario, sesion.LLF_IdTipoSesion as LLF_IdTipoSesion, sesion.LLF_IdEstado as LLF_IdEstado, sesion.FechaHora as FechaHora
, tipoSesion.LLP_Id as LLP_IdTipoSesion, tipoSesion.Descripcion as DescripcionTipoSesion FROM SGJD_ACT_TAB_SESION sesion
LEFT JOIN SGJD_ADM_TAB_TIPO_SESION tipoSesion ON tipoSesion.LLP_Id = sesion.LLF_IdTipoSesion
INNER JOIN SGJD_ACT_TAB_ACTA acta ON acta.LLF_IdSesion = sesion.LLP_Id
INNER JOIN SGJD_ACT_TAB_CAPITULO capitulo ON capitulo.LLF_IdActa = acta.LLP_Id
INNER JOIN SGJD_ACT_TAB_ARTICULO articulo ON articulo.LLF_IdCapitulo = capitulo.LLP_Id
LEFT JOIN SGJD_ACU_TAB_ACUERDO acuerdo ON acuerdo.LLF_IdArticulo = articulo.LLP_Id
WHERE sesion.LLF_IdEstado = 2
AND acuerdo.LLP_Id IS NULL
GO
/****** Object:  StoredProcedure [dbo].[SGJD_ACU_PRO_ARTICULOS_POR_SESION]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SGJD_ACU_PRO_ARTICULOS_POR_SESION](@Sesion int)

AS 

SELECT DISTINCT Articulo.LLP_Id, Articulo.Titulo, Articulo.Contenido, Articulo.Observacion, Articulo.LLF_IdCapitulo, Articulo.Confidencial
FROM SGJD_ACT_TAB_SESION Sesion
INNER JOIN SGJD_ACT_TAB_ACTA Acta ON Acta.LLF_IdSesion = Sesion.LLP_Id
INNER JOIN SGJD_ACT_TAB_CAPITULO Capitulo ON Capitulo.LLF_IdActa = Acta.LLP_Id
LEFT JOIN SGJD_ACT_TAB_ARTICULO Articulo ON Articulo.LLF_IdCapitulo = Capitulo.LLP_Id
LEFT  JOIN SGJD_ACU_TAB_ACUERDO Acuerdo ON Acuerdo.LLF_IdArticulo = Articulo.LLP_Id
WHERE Sesion.LLP_Id = @Sesion AND Acuerdo.LLP_Id IS NULL 


GO
/****** Object:  StoredProcedure [dbo].[SGJD_ACU_PRO_OBTENER_ACUERDO_POR_ARTICULO]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP para realizar extraer un acuerdo con su considerando y por tanto para cada articulo por id articulo
CREATE PROCEDURE [dbo].[SGJD_ACU_PRO_OBTENER_ACUERDO_POR_ARTICULO](@Articulo int)

AS 

SELECT TOP 1 Acuerdo.Titulo as TituloAcuerdo, Considerando.LLP_Id as IdConsiderando, Considerando.LLF_IdAcuerdo as LLF_IdAcuerdoConsiderando , Considerando.Descripcion as DescripcionConsiderando , PorTanto.LLP_Id as IdPorTanto, PorTanto.LLF_IdAcuerdo as LLF_IdAcuerdoPorTanto, PorTanto.Descripcion as DescripcionPorTanto
FROM SGJD_ACT_TAB_ARTICULO Articulo
INNER JOIN SGJD_ACU_TAB_ACUERDO Acuerdo  ON Acuerdo.LLF_IdArticulo = Articulo.LLP_Id
INNER JOIN SGJD_ACU_TAB_PORTANTO PorTanto  ON PorTanto.LLF_IdAcuerdo = Acuerdo.LLP_Id
INNER JOIN SGJD_ACU_TAB_CONSIDERANDO Considerando  ON Considerando.LLF_IdAcuerdo = Acuerdo.LLP_Id
WHERE Articulo.LLP_Id = @Articulo
AND (Acuerdo.LLF_IdEstado = 1018
OR Acuerdo.LLF_IdEstado = 1019
OR Acuerdo.LLF_IdEstado = 1020
OR Acuerdo.LLF_IdEstado = 1021)
ORDER BY Acuerdo.NumeroVersion DESC
GO
/****** Object:  StoredProcedure [dbo].[SGJD_ACU_PRO_OBTENER_ACUERDO_POR_ARTICULO_ENFIRME]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP para realizar extraer un acuerdo con su considerando y por tanto para cada articulo por id articulo
CREATE PROCEDURE [dbo].[SGJD_ACU_PRO_OBTENER_ACUERDO_POR_ARTICULO_ENFIRME](@Articulo int)

AS 

SELECT TOP 1 Acuerdo.Titulo as TituloAcuerdo, Considerando.LLP_Id as IdConsiderando, Considerando.LLF_IdAcuerdo as LLF_IdAcuerdoConsiderando , Considerando.Descripcion as DescripcionConsiderando , PorTanto.LLP_Id as IdPorTanto, PorTanto.LLF_IdAcuerdo as LLF_IdAcuerdoPorTanto, PorTanto.Descripcion as DescripcionPorTanto
FROM SGJD_ACT_TAB_ARTICULO Articulo
INNER JOIN SGJD_ACU_TAB_ACUERDO Acuerdo  ON Acuerdo.LLF_IdArticulo = Articulo.LLP_Id
INNER JOIN SGJD_ACU_TAB_PORTANTO PorTanto  ON PorTanto.LLF_IdAcuerdo = Acuerdo.LLP_Id
INNER JOIN SGJD_ACU_TAB_CONSIDERANDO Considerando  ON Considerando.LLF_IdAcuerdo = Acuerdo.LLP_Id
WHERE Articulo.LLP_Id = @Articulo AND
Acuerdo.Firme = 1
AND (Acuerdo.LLF_IdEstado = 1018
OR Acuerdo.LLF_IdEstado = 1019
OR Acuerdo.LLF_IdEstado = 1020
OR Acuerdo.LLF_IdEstado = 1021)
ORDER BY Acuerdo.NumeroVersion DESC
 


GO
/****** Object:  StoredProcedure [dbo].[SGJD_ADM_PRO_BACKUPDB]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP_HELP 'SGJD_ADM_TAB_BITACORA'

--SP para realizar el respaldo de la BD
--Procedimiento no utilizado
CREATE PROCEDURE [dbo].[SGJD_ADM_PRO_BACKUPDB]
AS
BEGIN
SET NOCOUNT ON;
DECLARE
	@ArchivoBD nvarchar(100),
	@Temp INT = 1,
	@BD NVARCHAR(100) = 'SGJD',
	@Ubicacion NVARCHAR(100)   = 'C:\Users\Sharel\Desktop\Backup\'

SET @ArchivoBD = datename(DD,getdate())+'_'+datename(M,getdate())+'_'+datename(YYYY,getdate())+'_'+replace(replace(@BD,':','_'),'\','_')+'.bak' --Setea el formato del nombre del archivo del respaldo.bak
EXEC ('BACKUP DATABASE ['+ @BD +'] TO  DISK = N'''+ @Ubicacion + @ArchivoBD +''' WITH COPY_ONLY,  NAME = N'''+ @BD +'-Full Database Backup''') --Ejecuta el Respaldo
SELECT @Temp --Devuelve un 1 por default para que el sp sea agregado al model del proyecto

END
GO
/****** Object:  StoredProcedure [dbo].[SGJD_ADM_PRO_OBTENER_RANGO_FECHA_BITACORA]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PA para obtener un rango de fechas de la bitacora
CREATE PROCEDURE [dbo].[SGJD_ADM_PRO_OBTENER_RANGO_FECHA_BITACORA]
	@fechaInicio DATETIME,
	@fechaFin DATETIME
AS
BEGIN
	SELECT B.LLP_Id,B.LLF_IdUsuario, U.[Name] As Nombre, B.FechaHora, B.Accion, B.ValorAntiguo, B.ValorNuevo, B.DireccionIP, B.DescripcionDispositivo, B.SeccionSistema
	FROM SGJD.dbo.SGJD_ADM_TAB_BITACORA B
	INNER JOIN SGJD.dbo.SGJD_ADM_TAB_USUARIO U ON B.LLF_IdUsuario = U.Id
	WHERE B.FechaHora BETWEEN CONVERT(VARCHAR(10), @fechaInicio, 101) AND CONVERT(VARCHAR(10), @fechaFin, 101)
END
--Fin de SP
GO
/****** Object:  StoredProcedure [dbo].[SGJD_ADM_PRO_OBTENER_TABLAS_BD]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PA para listar las tablas de la base de datos
CREATE PROCEDURE [dbo].[SGJD_ADM_PRO_OBTENER_TABLAS_BD]
AS
BEGIN
	SELECT TABLE_NAME
	FROM INFORMATION_SCHEMA.TABLES
	WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_NAME LIKE '%SGJD%'
END
--Fin de SP

GO
/****** Object:  StoredProcedure [dbo].[SGJD_ADM_PRO_OBTENER_VISTAS_PERFIL]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PA para listar las vistas de un rol
CREATE PROCEDURE [dbo].[SGJD_ADM_PRO_OBTENER_VISTAS_PERFIL]
	@idPerfil NVARCHAR (128)
AS
BEGIN
	SELECT VP.LLF_IdPerfil AS idPerfil, P.[Name] AS nombrePerfil, VP.LLF_IdVista AS idVista, V.NombreVista, VP.Permiso AS NivelPermiso,
	CASE 
		WHEN VP.Permiso = 7 THEN 'Master' 
		WHEN VP.Permiso = 6 THEN 'Editar/Eliminar'
		WHEN VP.Permiso = 5 THEN 'Crear/Eliminar'
		WHEN VP.Permiso = 4 THEN 'Eliminar'
		WHEN VP.Permiso = 3 THEN 'Crear/Editar'
		WHEN VP.Permiso = 2 THEN 'Editar'
		WHEN VP.Permiso = 1 THEN 'Crear'
		WHEN VP.Permiso = 0 THEN 'Ver'
	END AS NombrePermiso
	FROM dbo.SGJD_ADM_TAB_VISTA_PERFIL VP 
	INNER JOIN dbo.AspNetRoles P ON VP.LLF_IdPerfil = P.Id
	INNER JOIN dbo.SGJD_ADM_TAB_VISTA V ON VP.LLF_IdVista = V.LLP_Id
	WHERE VP.LLF_IdPerfil = @idPerfil
END
--Fin de SP

GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-4230e641-278f-4e22-bd11-fcf846742990]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-4230e641-278f-4e22-bd11-fcf846742990] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-4230e641-278f-4e22-bd11-fcf846742990]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-4230e641-278f-4e22-bd11-fcf846742990] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-4230e641-278f-4e22-bd11-fcf846742990') > 0)   DROP SERVICE [SqlQueryNotificationService-4230e641-278f-4e22-bd11-fcf846742990]; if (OBJECT_ID('SqlQueryNotificationService-4230e641-278f-4e22-bd11-fcf846742990', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-4230e641-278f-4e22-bd11-fcf846742990]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-4230e641-278f-4e22-bd11-fcf846742990]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-97679fae-eba1-4b4a-a9e2-f35fda9c8eae]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-97679fae-eba1-4b4a-a9e2-f35fda9c8eae] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-97679fae-eba1-4b4a-a9e2-f35fda9c8eae]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-97679fae-eba1-4b4a-a9e2-f35fda9c8eae] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-97679fae-eba1-4b4a-a9e2-f35fda9c8eae') > 0)   DROP SERVICE [SqlQueryNotificationService-97679fae-eba1-4b4a-a9e2-f35fda9c8eae]; if (OBJECT_ID('SqlQueryNotificationService-97679fae-eba1-4b4a-a9e2-f35fda9c8eae', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-97679fae-eba1-4b4a-a9e2-f35fda9c8eae]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-97679fae-eba1-4b4a-a9e2-f35fda9c8eae]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-d753f5ef-4b26-4846-9273-d74cb237cb54]    Script Date: 09/10/2019 09:12:54 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-d753f5ef-4b26-4846-9273-d74cb237cb54] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-d753f5ef-4b26-4846-9273-d74cb237cb54]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-d753f5ef-4b26-4846-9273-d74cb237cb54] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-d753f5ef-4b26-4846-9273-d74cb237cb54') > 0)   DROP SERVICE [SqlQueryNotificationService-d753f5ef-4b26-4846-9273-d74cb237cb54]; if (OBJECT_ID('SqlQueryNotificationService-d753f5ef-4b26-4846-9273-d74cb237cb54', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-d753f5ef-4b26-4846-9273-d74cb237cb54]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-d753f5ef-4b26-4846-9273-d74cb237cb54]; END COMMIT TRANSACTION; END
GO
USE [master]
GO
